body {
    background-color: #fef3f3;
}
header {
    width: 95%;
    border: 1px solid #e5215c;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}
header p {
    color: rgb(18, 4, 4);  
    font-style: italic;  
}

header img {
    width: 40%;
    border: 3px solid #c06a6a;
    border-radius: 50%;
    box-shadow: 6px 6px 10px #ff86c3;
}
header img:hover {
    transform: scale(.8);
    transition: all .3s ease-in-out;
}
header h1 {
    color: #d50a5b;
}

button {
    display: block;
    margin: 20px auto;
    padding: 6px 25px;
    background-color: #ff0066;
    border: none;
    border-radius: 15px 0 15px 0;
}
button:hover {
    transform: scale(.5);
    transition: all .3s ease-in-out;
}

.about {
    width: 85%;
    border: 1px solid #E5D0AC;
    margin: 30px auto;
    padding: 30px
    
}
.left-about {
    width: 100%;
    border-radius: 12px;
}
.right-about h2 {
    color: #6D2323
}
#porducts {
    width: 95%;
    margin: 40px auto;
}
#products h2 {
    color:#000000;
}
.products-card {
    padding: 20px;
    border: 1px dashed rgb(207, 88, 116);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 350px;
    border: 1px solid rgb(152, 147, 222);
}
.card img {
    width: 100%;
}